.about-intro
  .content-bg:after
    opacity: 0.25
    background-image: url("../images/hero-24.jpg")

  .content-inner
    h2
      color: $color-accent

    p
      font-size: 1.75em
      line-height: 1.5
      margin-bottom: 2em
      color: $color-white

.about-focus
  .content-bg:after
    opacity: 0.67
    background-image: url("../images/hero-25.jpg")

  .content-inner
    padding: 4.5em

    ul
      margin: 1em auto 3em
      text-align: left
      padding: 2em 4em
      background: fade-out($color-white, 0.33)
      border-radius: $border-radius
      box-shadow: 0 2px 4px rgba(0,0,0,0.15)
      max-width: 42em

    li
      margin: 1.5em 1em
      font-size: 1.5em
      line-height: 1
      color: $color-primary

.about-why
  .content-inner
    padding: 3.33em 3em

    p
      font-size: 1.5em
      line-height: 1.75
      margin-bottom: 2em
      padding: 0 3em

.bio-wrap
  display: inline-block
  width: 100%
  border-radius: $border-radius
  box-shadow: 0 3px 6px rgba(0,0,0,0.15)
  margin: 2.5em auto
  max-width: 64em
  position: relative

  .bio-img
    display: inline-block
    width: 14em
    height: 15em
    top: -0.5em
    left: -1em
    position: absolute
    overflow: hidden
    border-radius: 0.075em
    box-shadow: 0 2px 4px rgba(black, 0.15)

    @media screen and (max-width: $smscreen)
      position: relative

    > img
      position: absolute
      min-height: 100%
      min-width: 100%
      max-width: 100%
      top: 0
      left: 0

  .bio-text
    display: inline-block
    width: calc(100% - 12.5em)
    margin-left: 12.5em
    padding: 1.5em 3em 2.25em
    text-align: left

    @media screen and (max-width: $smscreen)
      width: 100%
      margin-left: 0

    h2
      font-size: 2.25em
      margin: 1em 0 0
      color: $color-secondary

    h4
      margin-bottom: 1em

    p
      line-height: 1.33
      margin: 1em 0