.qt-btn
  display: inline-block
  border-radius: 0
  border: 2px solid $color-primary
  box-shadow: 0 1px 1px rgba(0,0,0,0.08)
  background: none
  padding: 0.5em 1.75em
  color: $color-primary
  font-size: 1em

  &:hover
    cursor: pointer

  &.qt-btn-accent
    border-color: $color-accent
    color: $color-accent