.contact-intro
  .content-bg
    img
      opacity: 0.425
      bottom: 50%

  .content-inner
    text-align: left

    h2, h5
      color: $color-white

    a
      color: $color-accent

      &:hover
        color: $color-secondary

.contact-why
  .content-inner
    padding: 4em 8em

    p
      font-size: 1.5em
      line-height: 1.75
      margin-bottom: 2em
      padding: 0 3em