// Colors
$color-primary: #1c3871 !default
$color-secondary: #3296ec !default
$color-accent: #e59d2b !default

$color-white: #fff !default
$color-dark: #111 !default

$trans-speed: 0.5s
$animate-speed: 13s
$spin-speed: 1s

$top-padding: 5.25em

$skew-value: 1.15deg

$border-radius: 0.5rem