@import variables
@import buttons
@import content
@import home
@import whatwedo
@import about
@import contact

*, *:before
    box-sizing: border-box

html
    height: 100%

body
    padding: 0
    margin: 0
    font-family: 'Raleway', sans-serif
    font-size: 1em

    @media screen and (max-width: $lgscreen)
        font-size: 0.925em

    @media screen and (max-width: $mdscreen)
        font-size: 0.85em

    @media screen and (max-width: $smscreen)
        font-size: 0.75em

h1, h2, h3, h4, h5
    font-family: 'Crimson Text', serif
    font-weight: 300
    color: $color-primary

h1
    font-size: 3em

h2
    font-size: 2.67em

h3
    font-size: 2.25em

h4
    font-size: 1.75em

h5
    font-size: 1.5em

a
    color: $color-primary
    text-decoration: none
    transition: color ease $trans-speed

    &:hover
        color: $color-accent

button, .qt-btn
    font-family: 'Raleway', sans-serif

.large-text
    font-size: 1.25em
    line-height: 1.5
    display: block

.larger-text
    font-size: 1.33em
    line-height: 1.33
    display: block

.pull-right
    float: right

.pull-left
    float: left

.main-header
    padding: 0.25em 2.25em
    float: left
    width: 100%
    position: relative
    z-index: 3
    
    @media screen and (max-width: $lgscreen)
        padding: 0.25em 2em

    @media screen and (max-width: $mdscreen)
        padding: 0.25em 1.5em

    @media screen and (max-width: $smscreen)
        padding: 0.25em 0.75em

    &.dark
        .nav-item a
            color: $color-white

            &:hover
                color: lighten($color-accent, 10%)

        .wrap-logo img
            height: 5.5em
            margin-top: 0

    &.home
        .wrap-logo img
            height: 6.67em
            margin-bottom: -1em

            @media screen and (max-width: $mdscreen)
                height: 5.5em

            @media screen and (max-width: $xsscreen)
                height: 3.67em

.wrap-logo
    float: left
    font-size: 1em

    @media screen and (max-width: $lgscreen)
        font-size: 0.925em

    @media screen and (max-width: $mdscreen)
        font-size: 0.85em

    @media screen and (max-width: $smscreen)
        font-size: 0.75em

    img
        height: 4.25em

.wrap-nav
    float: right
    margin-top: 0.67em

    @media screen and (max-width: $smscreen)
        margin-top: 1.5em
        font-size: 0.85em

    .nav-item
        display: inline-block
        margin-left: 1em
        padding: 1em 0.5em

        @media screen and (max-width: $smscreen)
            margin-left: 0.5em

.main-footer
    position: relative
    z-index: 1
    padding: 1em
    background: $color-white
    box-shadow: 0 -2px 4px rgba(0,0,0,0.15)
    text-align: center
    font-size: 0.85em
    color: $color-primary
