<div class="wrap-content about-intro">

  <div class="content-bg primary">
    <img src="images/hero-1.jpg">
  </div>

  <div class="content-inner">

    <p><span class="larger-text">Quantum Thinking, LLC, is a unique independent,</span><span class="large-text">global education practice that combines the deep expertise</span> of accomplished professionals from leading higher education institutions and respected companies globally. We are education leaders, technologists, designers and entrepreneurs. We advise, co-design, research, select and implement services and solutions for our clients.</p>

    <a href="#/what-we-do">
      <button class="qt-btn qt-btn-accent">learn more</button>
    </a>

  </div>

</div>

<div class="wrap-content about-focus">

  <div class="content-inner">

    <div class="bio-wrap">
      <div class="bio-img">
        <img src="images/anne.jpg">
      </div>
      <div class="bio-text">
        <h2>Anne Keough Keehn</h2>
        <h4>Founder and CEO</h4>

        <p>QT was founded in 2002 as a practice and forum that would grow and evolve overtime to help serve the higher education community globally. Ms. Keehn has had a long and diverse career in higher education globally and is considered a visionary, thought leader and accomplished executive in growing and scaling technology initiatives, programs and companies that span across the areas of administration, teaching and learning, and research in higher education, K-12 and corporate learning. She most recently served as an Entrepreneur-in-Residence and Senior Fellow for Technology &amp; Innovation for the Postsecondary Success Team for the Bill &amp; Melinda Gates Foundation.</p>

        <p>She has held several global leadership positions such as President, Global Solutions, Americas for Kaplan Ventures; SVP of Pearson Learning Solutions &amp; Pearson eCollege; SVP for Corporate Strategy, Innovation, New Product Development and Marketing for SCT/SunGard HE (now Ellucian) and was the early stage Executive VP of Global Sales and Client Relations at Blackboard. Prior to joining Blackboard, Ms. Keehn was Vice President of HE Sales for PeopleSoft (now Oracle) and a Sales Director for Datatel (Ellucian). She also served as Director of Development for Prescott College and as an executive for Fujitsu Telecommunications and Cable &amp; Wireless.</p>

        <!-- <p>Ms. Keehn has been published and speaks globally about education technology, design, innovation and the future of higher education. She is passionate about improving higher education - student success, teaching and learning, faculty support, research and administration so more students can achieve their education goals in a timely, affordable and relevant manner that best serves them individually.</p>

        <p>Currently, Ms. Keehn serves on the Advisory Board for the University System of Maryland’s Center for Academic Innovation (CAI), Towson University’s Incubator Mentor Program and is a founding Advisor for Campus ESP.</p>

        <p>Ahead of the curve is where you will find her...thinking deeply about the third horizon and how we execute the next wave of innovation, technology and design to better serve students and those who educate and support them.</p> -->
      </div>
    </div>

    <div class="bio-wrap">
      <div class="bio-img">
        <img src="images/cynthia.jpg">
      </div>
      <div class="bio-text">
        <h2>Cynthia A. Jennings</h2>
        <h4>Principal</h4>

        <p>Cynthia is a QuantumThinking Principal and Senior Marketing Strategist and Communications Executive with extensive experience in building and delivering integrated marketing strategies and programs, corporate marketing plans, and demand generation programs that articulate a company’s value proposition in the marketplace.</p>

        <p>Adept at brand development and management, PR/media &amp; social, creating communications programs, and conducting market research in the professional services, technology and higher education markets. Served as interim Director and Project Manager for the launch of Pearson LearningStudio, the online personalized learning platform of Pearson Learning Solutions. Served as senior market consultant and researcher for Kaplan Global Solutions in their project with the Bill &amp; Melinda Gates Foundation.</p>

         conducting an environmental scan of third-party digital courseware for the post-secondary marketplace and subsequently worked directly with the foundation on an environmental scan &amp; technology analysis of the marketplace of online providers of English as a Second Language (ESL) and conducted research on leading edge teaching &amp; learning centers.</p>


      </div>
    </div>


    <div class="bio-wrap">
      <div class="bio-img">
        <img src="images/susan.jpg">
      </div>
      <div class="bio-text">
        <h2>Susan E. Metros</h2>
        <h4>Senior Consultant</h4>

        <p>Susan E. Metros is an information technology and academic innovation consultant and a professional coach and career mentor. She currently serves as Associate Dean for the University of Southern California’s Jimmy Iovine and Andre Young Academy for Arts, Technology and the Business of Innovation and Director for Remote Learning Programs in the USC Roski School of Art and Design. She was the former Interim Chief Information Officer for the USC Marshall School of Business and previously served as USC’s Associate Vice Provost for Technology Enhanced Learning and Associate CIO for USC’s Information Technology Services. She holds faculty appointments in the Roski School and in the USC Rossier School of Education and the USC Annenberg School of Communication and Journalism.</p>

        <p>Susan offers over 20 years executive-level, higher education leadership experience and 35 years of university faculty experience. Her IT leadership portfolio includes CIO experience and oversight of both information and educational technology organizations, operations and services.  She has deep knowledge in the areas of academic innovation, educational technology, learning space design, web services, and user experience. She is an expert on the full continuum of online learning from conceptualizing a program to launching a degree.</p>

        <!-- <p>Susan is a dynamic speaker, delivering over 140 keynote addresses, presentations, seminars and workshops and a prolific author with close to 50 publications to her name. She consults, publishes and presents on academic innovation, leadership and mentoring, design thinking and creativity problem-solving, visual communication and multimedia literacy, and the role of technology in transforming education to be multi-modal, interactive and learner-driven. </p> -->

      </div>
    </div>

  </div>

</div>

<div class="wrap-content about-focus">

  <div class="content-bg">
    <img src="images/hero-8.jpg">
  </div>

  <div class="content-inner">

    <h2>Our areas of focus are:</h2>

    <ul>
      <li>Higher education institutions</li>
      <li>Foundations</li>
      <li>Nonprofit organizations</li>
      <li>Education focused companies</li>
      <li>esearch organizations</li>
      <li>Federal, state and local education groups</li>
      <li>And the EdTech Investment community</li>
    </ul>

  </div>

</div>

<div class="wrap-content about-why">

  <div class="content-inner">

    <h2>Why us?</h2>

    <p>We have deep expertise in all these areas mentioned above and more. Because we are truly independent of any one technology or methodology, we bring together the right set of people, partners, and resources to <span class="large-text">advise, design and integrate the optimal set of</span><span class="larger-text">solutions to accomplish your vision and mission.</span></p>

    <a href="#/contact">
      <button class="qt-btn qt-btn-primary">contact us</button>
    </a>

  </div>

</div>