<div class="wrap-content what-intro">

  <div class="content-bg primary">
    <img src="images/hero-1.jpg">
  </div>

  <div class="content-inner">

    <h2>About Us</h2>
    <p>Quantum Thinking, LLC, is a unique independent, global education practice that combines the deep expertise of accomplished professionals from leading higher education institutions and respected companies globally. We are education leaders, technologists, designers and entrepreneurs. We advise, co-design, research, select and implement services and solutions for our clients.</p>

    <button class="qt-btn qt-btn-accent">contact us</button>

  </div>

</div>

<div class="wrap-content what-clients">

  <div class="content-bg">
    <img src="images/hero-3.jpg">
  </div>

  <div class="content-inner">

    <h2>Our areas of focus are:</h2>

    <ul>
      <li>Higher education institutions</li>
      <li>Foundations</li>
      <li>Nonprofit organizations</li>
      <li>Education focused companies</li>
      <li>esearch organizations</li>
      <li>Federal, state and local education groups</li>
      <li>And the EdTech Investment community</li>
    </ul>

  </div>

</div>

<div class="wrap-content why-qt">

  <div class="content-bg">
   <!--  <img src="images/hero-3.jpg"> -->
  </div>

  <div class="content-inner">

    <h2>Why us?</h2>

    <p>We have deep expertise in all these areas mentioned above and more. Because we are truly independent of any one technology or methodology, we bring together the right set of people, partners, and resources to advise, design and integrate the optimal set of solutions to accomplish your vision and mission.</p>

    <button class="qt-btn qt-btn-primary">contact us</button>

  </div>

</div>