<div class="wrap-content contact-intro">

  <div class="content-bg primary"></div>

  <div class="content-inner">

    <div class="contact-intro-left">

      <h2>Contact Us</h2>
      <h5>Interested in education innovation and transformation, please contact us at:
        <a href="mailto:anne@quantumthinking.com" class="large-text">anne@quantumthinking.com</a>
      </h5>

    </div>

    <div class="contact-intro-form">

      <form method="post" id="sendEmail">
        <input type="text" name="name" id="name" placeholder="Name" />
        <input type="text" name="email" id="email" placeholder="Email" />
        <textarea name="message" id="message" placeholder="Message"></textarea>
        <button class="qt-btn qt-btn-accent pull-right" id="submit">Send</button>
      </form>

    </div>

  </div>

</div>

<div class="wrap-content contact-why">

  <div class="content-bg">
   <!--  <img src="images/hero-3.jpg"> -->
  </div>

  <div class="content-inner">

    <p class="contact-text-bottom"><span class="larger-text">We provide both industry expertise and</span><span class="large-text"> exceptional insight into evolving trends, technology,</span> practices, policies,and market drivers that may affect and shape the educational mission; both locally and globally.</p>

  </div>

</div>