<div class="wrap-content contact-intro">

  <div class="content-bg dark">
    <img src="images/hero-7.jpg">
  </div>

  <div class="content-inner">

    <h2>Contact Us</h2>
    <h5>Interested in education innovation and transformation, please contact us at:
      <a href="mailto:anne@quantumthinking.com" class="large-text">anne@quantumthinking.com</a>
    </h5>

  </div>

</div>

<div class="wrap-content contact-why">

  <div class="content-bg">
   <!--  <img src="images/hero-3.jpg"> -->
  </div>

  <div class="content-inner">

    <p><span class="larger-text">We provide both industry expertise and exceptional</span><span class="large-text"> insight into evolving trends, technology, practices, policies,</span> and market drivers that may affect and shape the educational mission; both locally and globally.</p>

  </div>

</div>