<div class="wrap-content home-intro">

  <div class="content-bg dark">
    <img src="images/hero-9.jpg">
  </div>

  <div class="content-hero-text">
    <h1>Thinking that precedes concept and form</h1>
  </div>

  <div class="content-inner">

    <h2>We're a global education advisory, design, build and research 
      <span class="large-text">practice focused on transformation &amp;</span>
      <span class="larger-text">innovation for higher education</span>
    </h2>

    <a href="#/about">
      <button class="qt-btn qt-btn-accent">learn more</button>
    </a>

  </div>

</div>

<div class="wrap-content home-what-we-do">

  <div class="content-bg primary">
    <img src="images/hero-3.jpg">
  </div>

  <div class="content-inner">

    <h2>What we do</h2>
    <p><span class="larger-text">We provide both industry expertise and exceptional</span><span class="large-text"> insight into evolving trends, technology, practices, policies,</span> and market drivers that may affect and shape the educational mission.</p>

    <a href="#/what-we-do">
      <button class="qt-btn qt-btn-white">learn more</button>
    </a>

  </div>

</div>

<div class="wrap-content home-our-focus">

  <div class="content-inner">

    <h3>Our focus areas are</h3>

    <div class="focus-cell">
      <img src="images/icon-highered.png">
      <p>higher-ed institutions</p>
    </div>

    <div class="focus-cell">
      <img src="images/icon-research.png">
      <p>research organizations</p>
    </div>

    <div class="focus-cell">
      <img src="images/icon-investments.png">
      <p>edtech investments</p>
    </div>

    <div class="focus-cell">
      <img src="images/icon-innovations.png">
      <p>education innovation</p>
    </div>

    <div class="focus-cell">
      <img src="images/icon-companies.png">
      <p>education-focused companies</p>
    </div>

  </div>

</div>

<div class="wrap-content home-bottom">

  <div class="content-bg">
    <img src="images/hero-4.jpg">
  </div>

  <div class="content-inner">

    <h3>
      <span class="larger-text">Because we are truly independent of any one technology or methodology,</span>
      <span class="large-text">we bring together the right set of people, partners, and resources to advise, design</span>and integrate the optimal set of solutions to accomplish your vision and mission.
    </h3>

    <a href="#/contact">
      <button class="qt-btn qt-btn-primary">contact us</button>
    </a>

  </div>

</div>