<div class="wrap-content what-intro">

  <div class="content-bg dark">
    <img src="images/hero-6.jpg">
  </div>

  <div class="content-inner">

    <h2>What we do</h2>
    <p><span class="larger-text">We provide both industry expertise</span><span class="large-text">and exceptional insight into evolving trends, technology,</span> practices, policies, and market drivers that may affect and shape the educational mission; both locally and globally.</p>

    <a href="#/about">
      <button class="qt-btn qt-btn-accent">about us</button>
    </a>

  </div>

</div>

<div class="wrap-content what-clients">

  <div class="content-bg">
    <img src="images/hero-7.jpg">
  </div>

  <div class="content-inner">

    <h2><span class="large-text">Clients turn to Quantum Thinking</span>when they are faced with the following:</h2>
    <ul>
      <li>They want to transform their institutions either systemically or at the program/department level</li>
      <li>When they are faced with making strategic business or investment decisions in adopting new business models, redesigning services and selecting the appropriate technologies or technology partners</li>
      <li>Formulating new enterprise-wide teaching and learning digital strategies (Personalized Learning, Analytics, Adaptive Learning, Competency-Based Learning, etc.)</li>
      <li>Improving student success, retention strategies and improving student services (Planning & Advising, Student Pathways, etc.)</li>
      <li>Creating new learning experiences and new learning environments with existing resources or new partnerships</li>
      <li>Curating and creating new academic content, courses, and/or programs - internally or with partners.</li>
    </ul>

    <button class="qt-btn qt-btn-primary">contact us</button>

  </div>

</div>